<!--<div class="left d-flex" >-->
<!--&lt;!&ndash;  <app-user-list class="user-list"></app-user-list>&ndash;&gt;-->
<!--&lt;!&ndash;  <div>&ndash;&gt;-->
<!--&lt;!&ndash;    <app-mess-list class="mess-list"></app-mess-list>&ndash;&gt;-->
<!--&lt;!&ndash;    <app-send-mess [idUser]="1"></app-send-mess>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--  <app-login></app-login>-->
<!--  <app-send-mess></app-send-mess>-->
<!--</div>-->

<a routerLink="/login">Login</a>
<router-outlet></router-outlet>
